* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
}

/* top nav style */
.topNav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.topNav-listContainer {
  height: 22px;
  width: 100vw;
  background-color: black;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* forces no word-wrap */
  white-space: nowrap;
}
.topNav-listItem a {
  color: gray;
  text-decoration: none;
  align-self: stretch;
  font-size: 8px;
  margin-left: 16px;
  margin-bottom: 4px;
}

.topNav-listContainer li {
  padding-left: 5px;
}

.navLogo {
  width: 10px;
  height: 10px;
  object-fit: cover;
}

.topNav li {
  display: inline;
  font-size: 10px;
}
/* botoom nav style */
.bottomNav {
  color: white;

  background-color: red;
  height: 22px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomNav a {
  color: white;
  text-decoration: none;
}

/* page 1 style */
.page1-container {
  background-color: #eeeffe;
  height: 80vh;
}
.image-redLogo-container {
  background-color: transparent;
  display: inline-block;
}
.image-redLogo {
  width: 32px;
  height: 40px;
  margin-left: 360px;
}
.page1-h2 {
  font-size: 32px;
  text-align: center;
}
.page1-p2 {
  color: blue;
  font-size: 16px;
  text-align: center;
}
.page1-p2 a {
  text-decoration: none;
}
.page1-p2 a:visited {
  text-decoration: none;
  color: inherit;
}

/* the 3 images on page 1 */
.page1-images-container {
  text-align: center;
}

.image-airpods,
.image-watches,
.image-ipadmini {
  width: 130px;
  height: 130px;
}

/* page 2  */

.page2-container {
  caret-color: purple;
  height: 85vh;
  position: relative;
}
.page2-container img {
  height: 100%;
  width: 100%;
}
.page2-text-container {
  position: absolute;
  top: 20px;
  left: 300px;
}

.page2-h2 {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}
.page2-h4 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
.page2-link {
  display: inline;
}

.page2-link a {
  color: blue;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  margin-left: 15px;
}

/* page 3 style */

.page3-container {
  caret-color: purple;
  height: 80vh;
  position: relative;
}

.page3-container img {
  height: 100%;
  width: 100%;
}

.page3-text-container {
  position: absolute;
  top: 20px;
  left: 300px;
}
.page3-text-container h2 {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 1000;
}
.page3-text-container h3 {
  color: hsl(350, 100%, 88%);
  font-size: 16px;
  font-weight: 650;
}
.page3-link {
  display: inline;
}
.page3-link a {
  display: inline;
  font-size: 12px;
  color: blue;
  margin-left: 15px;
  text-decoration: none;
}
/* page 4 */
.page4-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}
.page4-container {
  background-color: black;
  min-height: 300vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 3px;
}

.page4-grid-item--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}

.page4-grid-item--2 {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 6;
}
.page4-grid-item--3 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 11;
}
.page4-grid-item--4 {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 6;
  grid-row-end: 11;
}
.page4-grid-item--5 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 11;
  grid-row-end: 16;
}
.page4-grid-item--6 {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 11;
  grid-row-end: 16;
}

/* page 5 */
.page5-container {
  font-size: 8px;
}

.page5-legalWriting {
  width: 60%;
  margin: auto;
}
